<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.play4u.mobile" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoadingActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectUserTypeActivity"
            android:label="@string/title_activity_select_user_type" >
        </activity>
        <activity
            android:name=".ListenerActivity"
            android:label="@string/title_activity_listener" >
        </activity>
        <activity
            android:name=".MusicJockeyActivity"
            android:label="@string/title_activity_music_jockey" >
        </activity>
        <activity
            android:name=".ListenerSettingsActivity"
            android:parentActivityName="com.play4u.mobile.ListenerActivity"
            android:label="@string/title_activity_listener_settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.play4u.mobile.ListenerActivity" />
        </activity>
    </application>
</manifest>
